<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llb.dao.Airdao">
    <select id="findall" resultMap="airresult">
        SELECT air.`id`,`monitorTime`,`PM10`,`PM2.5`,`monitoringSation`,`lastMdifyTime`,`districtId`,district.`name` FROM air,district WHERE air.`districtId`=district.`id`
    </select>
    <insert id="insert" parameterType="Air">
        insert into air(`id`,`districtId`,`monitorTime`,`PM10`,`PM2.5`,`monitoringSation`)values(#{id},#{district.id},#{monitorTime},#{PM10},#{PM25},#{monitoringSation})
    </insert>
    <delete id="delete" parameterType="int">
        delete from air where id=#{id}
    </delete>
    <select id="findbyid" resultMap="airresult">
        SELECT air.`id`,`monitorTime`,`PM10`,`PM2.5`,`monitoringSation`,`lastMdifyTime`,`districtId`,district.`name` FROM air,district WHERE air.`districtId`=district.`id` and air.districtId=#{districtid}
    </select>
    <select id="findby" resultMap="airresult">
                SELECT air.`id`,`monitorTime`,`PM10`,`PM2.5`,`monitoringSation`,`lastMdifyTime`,`districtId`,district.`name` FROM air,district WHERE air.`districtId`=district.`id` and air.id=#{id}

    </select>
    <resultMap id="airresult" type="Air">
        <id column="id" property="id"></id>
        <result property="monitorTime" column="monitorTime"></result>
        <result column="PM10" property="PM10"></result>
        <result property="PM25" column="PM2.5"></result>
        <result column="monitoringSation" property="monitoringSation"></result>

        <association property="district" javaType="District">
            <id property="id" column="id"></id>
            <result column="name" property="name"></result>
        </association>
    </resultMap>
</mapper>